@mixin wiki-title{
    h1 {
        width: 100%;
        text-align: center;
        font-weight: 600;
        position: relative;
        font-size: 40px;

        &::after {
            content: "";
            $left: 20px;
            width: calc(100% - $left * 2);
            background: $fg-20;
            height: 2px;
            position: absolute;
            bottom: -10px;
            left: $left;
        }
    }
}
